<p>midia works!</p>
<div class="card">
    <div class="card-head">Midia - Head1</div>
    <div class="card-body">
        edwfdwefjwefwefiwfhwueiwhfwf,wnwefwhefwefw wefwheufwhefwhuifwhefwuhifuhfuhwfhwefwfeiuwfhwefuiwefhwfeuwfwifwfhuiwfwiuhfwufwe
    </div>
</div><div class="card">
    <div class="card-head">Midia - Head2</div>
    <div class="card-body">
        edwfdwefjwefwefiwfhwueiwhfwf,wnwefwhefwefw wefwheufwhefwhuifwhefwuhifuhfuhwfhwefwfeiuwfhwefuiwefhwfeuwfwifwfhuiwfwiuhfwufwe
    </div>
</div>