<div class="sidenav" [ngClass]="collapsed?'sidenav-collapsed':''">
    <div class="logo-container">
        <button class="logo" (click)="abrirMenu()">S</button>
        <div class="logo-text" @fadeInOut *ngIf="collapsed">Serafrica</div>
        <button class="btn-close" @rotate *ngIf="collapsed" (click)="fecharMenu()">
            <i class="fal fa-time close-icon x">X</i>
            
        </button>
    </div>
    <ul class="sidenav-menu">
        <li class="sidenav-menu-item" *ngFor="let dados of navData">
            <a 
            [routerLink]="[dados.routerLink]" class="sidenav-menu-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                <i class="sidenav-link-icon" [class]="dados.icon"></i>
                <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">{{dados.label}}</span>
            </a>
        </li>
    </ul>
</div>